body{
margin:0;
font-family:Arial, sans-serif;
background:url("background.jpg") no-repeat center center/cover;
color:white;
text-align:center;
}

header{
background:rgba(0,0,0,0.7);
padding:20px;
}

h1{
color:orange;
}

.container{
padding:40px;
}

.profile{
width:200px;
border-radius:20px;
border:5px solid orange;
margin-top:20px;
}

.hobbies{
margin-top:40px;
}

.hobby-list{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:20px;
}

.hobby{
background:rgba(0,0,0,0.6);
padding:20px;
border-radius:10px;
width:150px;
}

footer{
margin-top:50px;
background:rgba(0,0,0,0.7);
padding:15px;
}